#main {
    
    
    padding: 15px;
    background:brown;
    text-align: center;
    
    
}
main{
    display: block;

}
#image{
    display: block;
    text-align: center;
}
#yes{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start:70px;
    margin-inline-end: 70px;
}
div {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
}
h1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    font-weight: bold;
}
#title{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    
}
h3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
}
